<script type="text/ng-template" id="accordion-template.html">
    <div class="panel {{panelClass || 'panel-default'}}">
        <div class="panel-heading">
            <h4 style="font-size: 1.35em; font-weight: 600; color: #0202d8;" class="panel-title">
        <div href="href" tabindex="0" ng-click="toggleOpen()" uib-accordion-transclude="heading" class="accordion-toggle"><span style="width: 100%;"><img ng-class="{'accdionchevron-down': isOpen, 'accdionchevron-right': !isOpen}" class="accdionchevron-right"/><span ng-class="{'text-muted': isDisabled}"></span>{{heading}}</span></div>
      </h4>
        </div>
        <div uib-collapse="!isOpen" class="panel-collapse collapse">
            <div style="text-align: left; font-size=1.0em;" ng-transclude="ng-transclude" class="panel-body"></div>
        </div>
    </div>
</script>

<ion-view view-title="Dashboard">
    <ion-content style="height: 100%; width: 100%;" class="has-header">
        <div id='canvasholder' ng-controller='CanvasHolderCtrl' onmousedown="return false">
            <div style="height: 100%;" class='icon-row'>
                <div class="carouselbox {{ActNoAct}}" ng-controller="CarouselCtrl" style="margin: 0.2em;">
                    <div class="buttons icon-row ">
                        <div class="col-md-1 col-xs-1">
                            <button class="chevron-prev" ng-class="{'mapsshowing' : slidesCount > 1, 'mapshidden' : slidesCount < 2}" ng-click="onClickPrev()">
                                <span class="offscreen">Previous</span>
                            </button>
                        </div>
                        <div class="col-md-3 col-xs-3" ng-class="{'mapsshowingtext' : slidesCount > 0, 'mapshiddentext' : slidesCount < 1}">{{MapName}}
                        </div>
                        <div class="col-md-1 col-xs-1">
                            <button class="chevron-next" ng-click="onClickNext()" ng-class="{'mapsshowing' : slidesCount > 1, 'mapshidden' : slidesCount < 2}">
                                <span class="offscreen">Next</span>
                            </button>
                        </div>
                        <div ng-controller="MapLinkrMgrCtrl">
                            <button type "button="type "button" style="padding: 2px" ng-click="onMapLinkrClicked()" class="btn btn-labeled btn-primary">
                                <span style="padding: 2px" class="btn-label">{{mldata.mapLinkrBtnText}}
                                    <i ng-class="{'fa-expand': !mldata.isOpen, 'fa-compress': mldata.isOpen}" class="fa fa-expand fa-lg"></i>
                                </span>
                            </button>
                        </div>
                    </div>

                    <ol class="MapContainer" style="height: {{mapcolheight}}px; width: 100%;"></ol>
                    <img id="loadingImg" src="../img/loading.gif" style="position:absolute; right:200px; top:256px; z-index:100;" />
                </div>
            </div>
            <div id="DestWndDialogNode"></div>
            <div id="hiddenmap_canvas" style="margin:0px; width: 100%; height: 100%; display: none;"></div>
        </div>
        <div ng-controller="PusherSetupCtrl"></div>
    </ion-content>
</ion-view>
