<ion-view view-title="Dashboard">
  <ion-content>
    <div id='canvasholder' ng-controller='CanvasHolderCtrl'>
      <div style="height: 500px; width: 500px;">
        <div class="carouselbox {{ActNoAct}}" ng-controller="CarouselCtrl">
          <div class="buttons row " ng-class="{'mapsshowing' : amount > 1, 'mapshidden' : amount < 2}">
            <div class="col-md-1 col-xs-1">
              <button class="chevron-prev" ng-click="onClickPrev()">
                <span class="offscreen">Previous</span>
              </button>
            </div>
            <div class="col-md-3 col-xs-3" ng-class="{'mapsshowingtext' : amount > 0, 'mapshiddentext' : amount < 1}">Map # {{MapNo}}</div>
            <div class="col-md-1 col-xs-1">
              <button class="chevron-next" ng-click="onClickNext()">
                <span class="offscreen">Next</span>
              </button>
            </div>
          </div>

          <ol class="MapContainer">
          </ol>
        </div>
      </div>
        <button id="addcanbtn" ng-click="addCanvas()" value="Add Map" class="btn">Add Map</button>
    </div>
  </ion-content>
</ion-view>
